@inherits LayoutComponentBase

<div class="page">
    <aside class="sidebar">
        <NavMenu />
    </aside>

    <main>
        <header class="top-bar">
            <h1>HomeManagement</h1>
        </header>

        <article class="content">
            @Body
        </article>
    </main>
</div>
